#custom-layout #video-container video {
    filter: none !important;
    object-fit: contain !important;
    border-radius: 16px !important;
    position: initial !important;
    max-height: 90% !important;
    max-width: 90% !important;
}

#custom-layout .html5-video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#custom-layout .html5-video-player {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.ended-mode video {
    display: none !important;
}

.html5-video-container { pointer-events: none;}

/*  TODO: 繼續換成tailwind css */

#dialogue-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: transparent;
}

#chatbotfn-container {
    width: 100%;
    justify-content: start;
    align-items: center;
}

#chatbot-typing:empty::before {
  content: attr(data-placeholder);
  color: #a1a1aa; /* Tailwind 的 text-gray-400 */
  pointer-events: none;
}

#dialogue-container::-webkit-scrollbar { width: 5px; }
#dialogue-container::-webkit-scrollbar-thumb { background: white; }
#dialogue-container::-webkit-scrollbar-track { background: lightpink; }

@keyframes pulse {
    0% { opacity: 0.6; } /* 初始較暗的透明度 */
    50% { opacity: 1; }   /* 中間最亮的透明度 */
    100% { opacity: 0.6; }  /* 結束時回到較暗的透明度 */
}
  
.animate-pulse-custom {
    animation: pulse 5s ease-in-out infinite alternate;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text; /* 為了兼容較舊的瀏覽器 */
}